<h2>Bem-vindo {{ loguedUser.nome }} {{ loguedUser.sobrenome }}</h2>
<!--<h2>Bem-vindo Usuário anônimo</h2>-->

<h3 *ngIf="agendamentosRecentes">Próximas sessões:</h3>

<div *ngIf="agendamentosRecentes">
    <mat-card *ngFor="let ag of agendamentosRecentes">
        <mat-card-header>
            <mat-card-title>{{ ag.data_hora | date:'dd'}} de {{ ag.data_hora | date:'MMM'}}</mat-card-title>
            <mat-card-subtitle>{{ ag.data_hora | date:'HH:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ ag.sala }}
            </p>
        </mat-card-content>
    </mat-card>
</div>

