mat-toolbar {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
mat-toolbar > h3 {
    text-align: left;
}
main {
    text-align: center;
    margin-top: 2rem;
}
ul {
    text-align: center;
}