<mat-toolbar color="primary">
    <h3>Clinica Psicológica</h3>
    <!-- <a class="nav" routerLink="home">Home</a> -->
    <div class="navbar">
        <app-login *ngIf="!hide" (loginSucessful)="onLogin($event)"></app-login>
        <app-nav-bar (click)="onLogOut()" *ngIf="hide"></app-nav-bar>
    </div>
</mat-toolbar>

<!--<router-outlet></router-outlet>-->

<app-user-data></app-user-data>

<main>
    <h1>FrontEnd em fase de implementação</h1>
    <h2>Em breve novidades!</h2>
    <h3>Membros do Projeto</h3>
    <ul>
        <li>Bruno Venâncio de Souza e Silva - RA: 821135934</li>
        <li>Henrick Melo Vital - RA: 821224905</li>
        <li>Matheus Alves Navarrete Tolomei - RA: 821138944</li>
        <li>Matheus de Souza Calou - RA: 821131367</li>
    </ul>
</main>