app-login {
    display: flexbox;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
    text-align: right;
}
.nav  {
    padding-right: 1rem;
}
input {
    margin-left: 5px;
}
button {
    margin-left: 5px;
}
nav > h3 {
    display: inline-block;
    text-align: left;
}
main {
    text-align: center;
    margin-top: 2rem;
}
ul {
    text-align: center;
}