<mat-toolbar color="primary">
    <h3>Clinica Psicológica</h3>

    <div class="navbar">
        <app-login (login)="onLogIn()" [hidden]="hide"></app-login> 
        <app-nav-bar (logout)="onLogOut()" [hidden]="!hide" [user]="user"></app-nav-bar>
    </div>
</mat-toolbar>
<app-appointment></app-appointment>
<router-outlet></router-outlet>

<main>
    <h1>FrontEnd em fase de implementação</h1>
    <h2>Em breve novidades!</h2>
    <h3>Membros do Projeto</h3>
    <ul>
        <li>Bruno Venâncio de Souza e Silva - RA: 821135934</li>
        <li>Henrick Melo Vital - RA: 821224905</li>
        <li>Matheus Alves Navarrete Tolomei - RA: 821138944</li>
        <li>Matheus de Souza Calou - RA: 821131367</li>
    </ul>
</main>