<h2>Seus Dados</h2>
<mat-card>
    <mat-form-field class="nome">
        <input matInput class="form-control" type="text" name="nome" placeholder="Nome" required [(ngModel)]="user.nome">
    </mat-form-field>
    <mat-form-field class="sobrenome">
        <input matInput class="form-control" type="text" name="sobrenome" placeholder="Sobrenome" required [(ngModel)]="user.sobrenome">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" [(ngModel)]="user.dataNascimento" class="form-control">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-card>