<h2>Novo aqui? Cadastre-se abaixo:</h2>
<mat-card>
    <mat-form-field id="nome">
        <input matInput type="text" name="nome" placeholder="Nome" required [(ngModel)]="newUser.nome">
    </mat-form-field>

    <mat-form-field id="sobrenome">
        <input matInput type="text" name="sobrenome" placeholder="Sobrenome" required [(ngModel)]="newUser.sobrenome">
    </mat-form-field>

    <mat-form-field id="email">
        <input matInput required minlength="10" maxlength="200" type="email" placeholder="E-mail" [(ngModel)]="newUser.email">
    </mat-form-field>

    <mat-form-field id="telefone">
        <input matInput type="tel" minlength="11" maxlength="11" placeholder="Telefone" [(ngModel)]="newUser.telefone">
    </mat-form-field>

    <mat-form-field id="dataNascimento">
        <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" [max]="hoje">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--<p id="idade">{{ idade }} anos</p>-->

    <mat-form-field id="endereço">
        <input matInput type="text" placeholder="Endereço" [(ngModel)]="newUser.endereco">
    </mat-form-field>
    
    <mat-form-field id="cidade">
        <input matInput type="text" placeholder="Cidade" [(ngModel)]="newUser.cidade">
    </mat-form-field>

    <mat-form-field id="cep">
        <input matInput type="text" placeholder="CEP" [(ngModel)]="newUser.cep">
    </mat-form-field>

    <mat-form-field id="cpf">
        <input matInput type="text" placeholder="CPF" required [(ngModel)]="newUser.paciente!.cpf">
    </mat-form-field>

    <mat-form-field id="responsavel">
        <input matInput type="text" placeholder="Responsável">
    </mat-form-field>

    <mat-form-field *ngIf="psicos.length > 0">
        <mat-label>Selecione um psicologo</mat-label>
        <mat-select>  
            <mat-option *ngFor="let p of psicos" [value]="p.crp">
                {{ p.nome }} {{ p.sobrenome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card-actions>
        <button class="acoes" mat-button>Voltar</button>
        <button class="acoes" mat-button>Salvar</button>
    </mat-card-actions>
</mat-card>