h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}
div {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
:host {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-card {
    text-align: center;
    margin-top: 1rem;
    background-color: #3f51b5;
    color: white;
    height: 210px;
    width: 280px;
}
.mat-card-subtitle {
    text-align: center;
    color: white;
    font-size: medium;
    font-style: italic;
}
.mat-card-title {
    height: 35px;
    text-align: center;
}